{% extends "notes/base.html" %}
{% block content %}
<div class="appbar">
  {% load static %}
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo">
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <form method="post" class="form-card">
    {% csrf_token %}
    <label for="title">Título</label>
    <input required class="form-card-title" id="title" type="text" name="title" />
    <label for="content">Detalhes</label>
    <textarea required class="autoresize" id="content" name="content"></textarea>
    <label for="tag">Tag</label>
    <input class="form-card-title" id="tag" type="text" name="tag" />
    <input class="btn" type="submit" name="criar" value="Criar" />
  </form>
  <div class="card-container">
      {% for note in notes %}
      <div class="card">
          <h3 class="card-title">{{ note.title }}</h3>
          <div class="card-content"><p>{{ note.content }}</p></div>
          <div class=""></div>
          <h4 class="card-tag">{{ note.tag }}</h4>
          <div class="card-btn">
            <form method="post" id="editar">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ note.id }}" />
              <input type="submit" name="editar" value="Editar" />
            </form>
            <form method="post" id="deletar">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ note.id }}" />
              <input type="submit" name="deletar" value="Apagar" />
            </form>
          </div>
      </div>
      {% endfor %}
  </div>
</main>
{% load static %}
<script type="text/javascript" src="{% static 'notes/js/getit.js' %}" src="getit.js"></script>
{% endblock %}
