{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<img src="{% static 'notes/img/logo-getit.png' %}" />
<p>Como o Post-it, mas com outro verbo</p>

<p>Você está na página de edição de notas.</p>
<p>Caso queira alterar alguma parte de sua nota, preencha a caixa correspondente.</p>
<p>O que não quiser alterar, deixe sem preencher.</p>

<form method="post">
  {% csrf_token %}
  <label for="title">Título</label>
  <input id="title" type="text" name="title" />
  <label for="tag">Tag</label>
  <input id="tag" type="text" name="tag" />
  <label for="content">Detalhes</label>
  <textarea id="content" name="content"></textarea>
  <input type="submit" name="criar" value="Criar" />
</form>

<ul>
  {% for note in notes %}
    <li>
      <form method="post">
        {% csrf_token %}
        <label for="title">Título: {{ note.title }}</label>
        <input id="title" type="text" name="title" />
        <label for="tag">Tag: {{ note.tag }}</label>
        <input id="tag" type="text" name="tag" />
        <label for="content">Detalhes: {{ note.content }}</label>
        <textarea id="content" name="content"></textarea>
        <input type="submit" name="alterado" value="Alterar" />
      </form>
    </li>
  {% endfor %}
</ul>
{% endblock %}
